################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/a-time-of-war/v16
/.vs/VSWorkspaceState.json
/.vs/a-time-of-war
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
