<div class="dice-roll bt-roll">
	<div class="dice-result">
	
		{{#if flavor}}
		<h10 class="dice-total flavor">{{flavor}}</h10>
		{{/if}}
		
		{{#if targetName}}
		<h10 class="dice-total formula target">Target: {{target}}</h10>
		{{/if}}
		
		{{#if formula}}
		<h10 class="dice-total formula">{{formula}}</h10>
		{{/if}
		
		{{#if tooltip}} {{{tooltip}}} {{/if}}
		
		{{#if result}}
        <h10 class="dice-total result">
			{{result}}
        </h10>
        {{/if}}
		
        {{#if text}}
            <span class="text">{{text}}</span>
        {{/if}}
		
		<h10 class="dice-total margin">
			{{margin successOrFail}}: {{margin}}
		</h10>
		
	</div>
</div>